<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mandrill Events</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  </head>

  <body>
   <center>
  </br>
  </br>
  <h1 class = "p2" style="color:rgb(46, 11, 79)"> Mandrill Events Notifier </h1>
  </br>
  
  <input type="text" id="input" placeholder="Enter an URL for the Web Hook">
</br>
</br>
    <table>
    <tr>
    <td><button id="webhook" class = "form-submit-button">Add WebHook</button></td>
    <td style = "width: 10%"></td>
    <td><button id="disconnect"  class = "form-submit-button">Disconnect WebSocket</button></td>
    </tr>
    </table>
</br>
</br>
</br>
    <ul id="events" class = "p2"></ul> 
  </center>    
  <script src="/static/js/script.js"></script>
  </body>
</html>